.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: auto;
}

#tooltip > .tooltip-inner {
  width: 200px;
  background-color: #EFEEEE;
  color: black;
  border: 1px solid #BDBDBD;

}

#tooltip > .tooltip-arrow{
  display: none;
}