.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: auto;
}

#tooltip > .tooltip-inner{
  width: 200px;
  background-color: #9E9D9D;

}

#tooltip > .tooltip-arrow{
  color: #9E9D9D;
}